@model MovieCatalog.Models.Film.FilmResponse

<form method="post">
    <input asp-for="Id" hidden />
    <br />
    <div class="container-fluid bg-white">
        <div class="card">
            <div class="card-header bg-dark text-light row mx-0">
                <div class="col-12 col-md-6 pb-1">
                    <i class="fas fa-video"></i> &nbsp; @Model.Name
                </div>
                <div class="col-12 col-md-6 text-end">
                    <a asp-controller="Film" asp-action="Index" class="btn btn-outline-info btn-sm">Back to Films</a>
                </div>
            </div>
            <div class="card-body pb-0">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3 text-info">
                                    <span>Film Details</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    <input asp-for="Name" type="text" class="form-control" readonly />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Director</div>
                                <div class="col-9">
                                    <input asp-for="Director" type="text" class="form-control" readonly />
                                    <span asp-validation-for="Director" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Release</div>
                                <div class="col-9">
                                    <input asp-for="Release" type="date" class="form-control" readonly />
                                    <span asp-validation-for="Release" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3 text-info">
                                <span>Film Categories</span>
                            </h4>
                            <div class="d-flex flex-wrap">
                                @foreach (var detail in Model.Categories)
                                {
                                    <div class="border border-info rounded-pill px-3 py-1 mr-2 mb-2">
                                        <div class="text-info">@detail.Name</div>
                                    </div>
                                }
                            </div>
                            <button type="button" class="btn btn-primary mt-3" id="openCategoryModal">Change Categories</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryModalLabel">Select Categories</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-auto">
                <ul id="categoryList" class="list-group"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addCategories">Change Categories</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        var categoryModal = document.getElementById('categoryModal');
        categoryModal.addEventListener('hidden.bs.modal', () => {
            location.reload();
        });
    });
</script>